@import "tailwindcss";
input{
    background-color: white;
}
.card{
    /* height: 200px; */
    width: 300px;
    background-color: rgba(128, 128, 128, 0.388);
    filter: blur(10);
    border-radius: 24px;
    
  
  }
  .options{
    border: 1px solid;
    padding: 2px;
  }
.icons{
    font-size: 24px;
}
  .active-icon{
    color:red;
    font-weight: bold;
    
   
  }
  .inactive-icon{
    color:rgb(200, 194, 194);
 

  }
  .total{
    border: 1px solid;
  }